---
layout: headerNfooter
title: Invisible Woman - About
banner_image: /images/banner2.jpg
---
<!-- TOP FIXED BANNER -->
{% include banner.html %}

<!-- BIO SECTION -->
<section class="grid padded paddedbottom-0">
<h2 class="col-12 centered home">Invisible Woman </h2>

<br>

  <!-- BIO PHOTO -->
  <div class="col-4-middle mobile-hide">
    <!-- <img src="/images/meow.gif" class="catmeow"> -->
    <img src="/images/biocat.GIF" class="bio">
  </div>

<!-- WRITTEN BIO -->
  <div class="col-8">
    <!-- <h2 class="centered home">Invisible Woman </h2>
    <p> </p> -->
    <h4 class="subtle-heading">Molly Trudeau - Founder & Coder </h4>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

<div class="col-4 padded">
  <a href="work.html" class="biobutton"><h2>CODE</h2></a></h2>
</div>

<div class="col-4 padded centered">
  <a href="https://www.instagram.com/miniartcenter/" target="_blank" class="biobutton"><h2> ART ED </h2></a>
</div>

<div class="col-4 padded right">
<a href="http://mollytrudeau.com/" target="_blank" class="biobutton"><h2>ARTIST</h2></a>
 </div>
</section>

<!-- BOTTOM FIXED BANNER -->
{% include banner.html %}
