---
layout: headerNfooter
title: Invisible Woman - Contact
banner_image: /images/banner2.jpg
---
<!-- TOP FIXED BANNER -->
{% include banner.html %}

<!-- CONTACT BLOCK -->
<section class="grid padded">
  <div class="col-6_sm-12 padded">
    <h2> Hello,</h2>
    <h2> is it me you're looking for </h2>
    <p class="editable"> Whether you are ready to talk over your project or just have follow up questions on how building a custom site works, fill out that form to the right and get in touch! </p>

      <br>
      <br>

    <p class="editable">I get pretty stoked about taking on new awesome projects so look for a follow up email soon after hitting that send button. And just in general thanks for checking out Invisible Woman :)
      </p>
    <!-- <p> <strong> Email: </strong> molly@invisiblewoman.com </p>
    <p> <strong> Phone: </strong> 317 709 5035 </p> -->
  </div>
  <div class="col-6_sm-12-middle padded">
    <form class="grid-center" action="https://formspree.io/hello@company.com" method="POST">
      <div class="col-6_sm-12">
        <input type="text" name="name" placeholder="Your Name">
      </div>
      <div class="col-6_sm-12">
        <input type="email" name="_replyto" placeholder="Your Email">
      </div>
      <div class="col-12">
        <textarea placeholder="Your Message"></textarea>

          <input type="submit" value="Send" class="button">
      </div>
    </form>
  </div>
</section>


<!-- BOTTOM FIXED BANNER -->
{% include banner.html %}
