---
layout: headerNfooter
title: Invisible Woman - FAQs
banner_image: /images/banner2.jpg
---
<!-- TOP FIXED BANNER -->
{% include banner.html %}

<!-- FAQ DROPDOWN SECTION -->
<section class="padded">

  <h2 class="centered padded-1"> FAQs </h2>

  <!-- dl stands for description list, with a description title and a description description -->
  <dl class="accordion light-bg padded-1">

    <dt><a href="">Why build a custom site, when I could use SquareSpace?</a></dt>
    <dd>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</dd>

    <dt><a href="">How long does a custome site take to build?</a></dt>
    <dd>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</dd>

    <dt><a href="">How much might it cost?</a></dt>
    <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
      eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>

  </dl>
</section>

<!-- TOP FIXED BANNER -->
{% include banner.html %}
