---
layout: headerNfooter
title: Invisible Woman - Home
banner_image: /images/banner2.jpg
---

<!-- TOP FIXED BANNER -->
{% include banner.html %}

<!-- HEADING + TEXT BLOCK -->
<section class="grid">
  <div class="col-4_sm-6_xs-12 padded">
    <h2 class="home"> Custom Coded Web Designs </h2>
  </div>
  <div class="col-8_sm-6_xs-12-middle padded">
    <p class="emphasis editable ">I am not your grandma’s coder,</p>
      <br>
    <p class="emphasis editable ">I’m all about creating sites with something a little different. This takes someone listening to your vision and business to create something truly unique. Your work is unique to you, you should be creating an online space to reflect that :) </p>
  </div>
</section>

<!-- BOTTOM FIXED BANNER -->
{% include banner.html %}
