---
layout: headerNfooter
title: Invisible Woman - Work
banner_image: /images/banner2.jpg
work:
  - type: Event & Wedding Painter
    client: Fontenot Fine Art
    desc: >-
      A beautifully simple one page site to add a professional touch to a growing business.
    image: /images/FontenotFineArt.jpg
    link: 'https://lavish-dahlia.cloudvent.net'
  - type: Visual Artist
    client: Molly Trudeau
    desc: >-
      A unique artist page displaying work from multiple mediums. Artwork can be seen in a gallery or individual view.
    image: /images/mollytrudeau.jpg
    link: 'http://mollytrudeau.com/'
  - type: Children's Art Studio
    client: Mini Art Center
    desc: >-
    A Squarespace site edited to create a company site that included class registration and an online store. 
    image: /images/miniartcenter.jpg
    link: 'http://www.miniartcenter.com/'
---

<!-- TOP FIXED BANNER -->
{% include banner.html %}

<div class="centered padded">
  <h2 class="centered padded-1">Recent Projects</h2>
</div>

<section class="work">
  {% for project in page.work %}
  <!-- WORK IMAGES -->
  <div class="grid padded">
    <div class="col-5_sm-12-middle">
      <img src="{{ project.image }}">
    </div>
    <!-- CLIENT INFO -->
    <div class="col-7_sm-12-middle padded">
      <h4 class="subtle-heading"> {{ project.type }} </h4>
      <h3> {{ project.client }} </h3>
      <p> {{ project.desc }} </p>
      <a class="buttonwork" href={{project.link}} target="_blank"> Check It </a>
    </div>
  </div>
  {% endfor %}

</section>

<!-- BOTTOM FIXED BANNER -->
{% include banner.html %}
