---
layout: headerNfooter
title: Invisible Woman - Work
banner_image: /images/banner2.jpg
work:
  - type: Event & Wedding Painter
    client: Fontenot Fine Art
    desc: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image: /images/FontenotFineArt.jpg
    link: https://lavish-dahlia.cloudvent.net
  - type: Children's Art Studio
    client: Mini Art Center
    desc: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    image: /images/miniartcenter.jpg
    link: http://www.miniartcenter.com/
  - type: Visual Artist
    client: Molly Trudeau
    desc: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod       tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim       veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea       commodo consequat.
    image: /images/mollytrudeau.jpg
    link: http://mollytrudeau.com/
---

<!-- TOP FIXED BANNER -->
{% include banner.html %}

<section class="padded work">
  {% for project in page.work %}
  <!-- WORK IMAGES -->
  <div class="grid padded">
    <div class="col-5_sm-12-middle">
      <img src="{{ project.image }}">
    </div>
    <!-- CLIENT INFO -->
    <div class="col-7_sm-12-middle padded">
      <h4 class="subtle-heading"> {{ project.type }} </h4>
      <h3> {{ project.client }} </h3>
      <p> {{ project.desc }} </p>
      <a class="button" href={{project.link}} target="_blank"> Check It </a>
    </div>
  </div>
  {% endfor %}

</section>

<!-- BOTTOM FIXED BANNER -->
{% include banner.html %}
