---
layout: default
---


    <header class="grid-spaceBetween media">
      <nav class="col-5-middle centered">
        <a href="about.html"> About </a>
        <a href="work.html"> Work </a>
      </nav>
      <div class="col-2-middle centered">
        <a href="homepage.html">
          <img src="/images/IW-logo.gif">
        </a>
      </div>
      <nav class="col-5-middle centered">
        <a href="faq.html"> FAQs </a>
        <a href="contact.html"> Contact </a>
      </nav>
    </header>

    {{ content }}

    <footer class="grid-middle">
      <!-- column -->
      <div class="col-4_sm-12 padded">
        <img src="images/footer-image.GIF">
        </div>

        <div class="col-4_sm-12 padded">
        <p> Invisibile Woman </p>
        <p>Custom Coded Web Designs </p>
      </div>

      <!-- <div class="col-1 sm-hidden"></div> -->
      <!-- column -->
      <div class="col-4_sm-12-middle padded right">
SOCIALS THAT I CURRENTLY DO NOT HAVE -->
        <!-- <nav class="inline socials far">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </nav>
      </div>
    </footer>
