---
layout: default
---


    <header class="grid-center">
      <nav class="col-4-middle right">
        <a href="about.html"> About </a>
        <a href="work.html"> Work </a>
      </nav>
      <div class="col-2-middle centered">
        <a href="homepage.html">
          <img src="images/IW-logo.GIF">
        </a>
      </div>
      <nav class="col-4-middle">
        <a href="faq.html"> FAQs </a>
        <a href="contact.html"> Contact </a>
      </nav>
    </header>

    {{ content }}

    <footer class="grid">
      <!-- column -->
      <div class="col-3_sm-12 padded">
        <img src="images/footer-image.GIF">
        <p> Invisibile Woman - Custom Coded Web Designs </p></div>

      <div class="col-1 sm-hidden"></div>
      <!-- column -->
      <div class="col-6_sm-12-middle padded right">
        <nav class="inline socials">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </nav>
      </div>
    </footer>
